{% extends "layout.html" %}
{% block body %}
	<div class="outer-block">
			<div class="inner-block">
				<form>
					<div class="form-group">
						<div class="text">
							<h1 class="heading-xlarge form-title">Account Creation</h1>
						</div>
					<div name="user-details">
						<h2 class = "form-title">Your Details</h2>
						<p>* Title: {{ form.title }}</p>
						<p>* Forname: {{ form.forname }}</p>
						<p>* Surname: {{ form.surname }}</p>
						<p class="lede">If you are acting on behalf of a business, enter a business name</p>
						<p>Business Name: {{ form.business }}</p>
					</div>
					<hr>
					<div name="address-details">
						<h2 class="form-title">Your Address</h2>
						<p>* Postcode: {{ form.postcode }}</p>
						<p>* Address 1: {{ form.address1 }}</p>
						<p>Address 2: {{ form.address2 }}</p>
						<p>Address 3: {{ form.address3 }}</p>
						<p>Address 4: {{ form.address4 }}</p>
						<p>* City: {{ form.city }}</p>
						<p>County: {{ form.county }}</p>
						<p>* Country: {{ form.country }}</p>
						<p>{{ form.payment_address }}Is this your payment address?</p>
					</div>
					<hr>
					<div name="contact-details">
						<h2 class="form-title">Your Contact Details</h2>
						<p>* Email Address: {{ form.email1 }}</p>
						<p>* Confirm Email: {{ form.email2 }}</p>
						<p>Telephone Number: {{ form.telephone }}</p>
						<p class="lede">How would you prefer to be contacted?</p>
						<p>{{ form.preference_email }} Email</p>
						<p>{{ form.preference_phone }} Phone</p>
						<p>{{ form.preference_post }} Post</p>
					</div>
					<hr>
					<div name="login-details">
						<h2 class="form-title">Your Login Details</h2>
						<p>* Username: {{ form.login_username }}</p>
						<p>* Password: {{ form.login_password1 }}</p>
						<p>* Confirm Password: {{ form.login_password2 }}</p>
					</div>
					<p><input type="submit" value="Submit"/></p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
